@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;0,800;1,400;1,500;1,600;1,800&display=swap');

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #ffffff;
}
.header{
    width: 100%;
    height: 121px;
    background-color: #daac00;
}
.header .continer{
    width: 1200px;
    height: 100%;
    padding: 0 25px;
    margin: 0 auto;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.manuber{
    display: flex;
    align-items: center;

}
.manuber li a{
    padding: 0 15px;
    display: inline-block;
    font-size: 29px;
    font-weight: 500;
}
.manuber .scarchber{
    height: 50px;
    width: 270px;
    background-color: #fcc302;
    border: none;
}
.manuber .scarchber::placeholder{
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    padding-left: 20px;

}
.fontsome-icone{
    height: 50px;
    width: 70px;
    background-color: aqua;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;


}
.input-list{
    position: relative;
}
.fa-solid{
    font-size: 30px;
    color: #ffffff;
   
}

/* ..............heading end .......... */


/* ................. banar start........................... */

.main-banner{
    background-color: #fcc302;
}

.main-banner .continer{
    width: 1200px;
    padding: 0 25px;
    /* background-color: aqua; */
    margin: 0 auto;
    display: flex;
    padding-bottom: 190px;
    justify-content: spgit push -u origin mainace-between;
    align-items: center
    
    
}
.main-banner .continer h1{

    font-size: 67px;
    font-weight: 800;
    color: #ffffff;
    line-height: 70px;
}
.main-banner .continer p{
    font-size: 29px;
    font-weight: 400;
    color: #ffffff;
    line-height: 36px;
    margin-top: 51px;
    /* margin-bottom: 48px; */
}
.banner-buttons{
    font-size: 20px;
    font-weight: 600;
    margin-top: 44px;
}
.paragraph{
    margin-top: 180px;
    padding-right: 40px;
    
}
.img{
    margin-top: 90px;
}
.banner-buttons a{
    padding: 15px 20px;
      
}
.banner-buttons{
    margin-top: 48px;
}
.banner-buttons a:first-child{
    background-color: #00bec9;
    border: 3px solid #00bec9;
    border-radius: 8px;
    margin-right: 34px;
}
.banner-buttons a:last-child{
border: 3px solid #ffffff;
border-radius: 8px;
}

/* ..................the end............  */


/* ................thirdpara start...........  */

.thidpara-main{
    width: 100%;
    /* background-color: yellowgreen; */
}
.thidpara-main .continer{
    width: 1200px;
    padding: 0 25px;
    margin: 0 auto;
    /* background-color: #00bec9; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    justify-content: center;
}
.thidpara-main .continer .text-content h2{
    font-size: 50px;
    font-weight: 600;
    color: #313243;
    line-height: 55px;
}
.thidpara-main .continer .text-content p{
    font-size: 29px;
    font-weight: 400;
    padding-top: 50px;
    color: #313243;
    margin-bottom: 30px;
    padding-bottom: 50px;
    line-height: 29px;
}
.thidpara-main .continer .text-content{
    margin-top: 220px;
}
.thidpara-main .continer .thirdpara-img{
    margin-top: 140px;
    margin-bottom: 130px;
}

.thidpara-main .continer .text-content a{
    padding: 24px 30px;
    background-color: #fcc302;
    border-radius: 8px;
}


/* .................the end.............  */


/* ..................service section start..........  */


.service-section{
    width: 100%;
    background-color: #fcc302;
}
.service-section .continer{
    width: 1200px;
    padding: 0 25px;
    margin: 0 auto;
    background-color: #fcc302;
    padding-top: 106px;
    padding-bottom: 90px;
}
 .service-heading{
    text-align: center;
}
.service-section .continer .service-heading h2{
    font-size: 75px;
    font-weight: bold;
    color: #ffffff;
}
.service-section .continer .service-heading p{
    font-size: 34px;
    font-weight: 400;
    padding-top: 50px;
    padding: 0 124px;
    color: #ffffff;
    padding-top: 30px;
}
.service-section .continer .service-body{
    display: flex;
    padding-top: 100px;
    justify-content: space-between;
}
.service-body .service-item{
    width: 30%;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    
}
.service-item1{
    text-align: center;
}
.service-item2{
    text-align: center;

}
.service-item3{
    text-align: center;

}


/* .................the end .............  */

/* ................ love of animals start..............  */

.lover-of-animals{
    /* background-color: aqua; */
}
.lover-of-animals .continer{
    width: 1200px;
    /* height: 600px; */
    /* background-color: #daac00; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;


}
.lover-of-animals .continer h2{
    font-size: 48px;
    font-weight: 600;
    margin-top: 217px;
    line-height: 54px;
    text-align: right;
} 
.lover-of-animals .continer .imgbody{
    margin-top: 140px;
    margin-bottom: 136px;
    margin-right: 54px;
}
.lover-of-animals .continer p{
    font-size: 29px;
    font-weight: 400;
    padding-top: 56px;
    padding-bottom: 50px;
    line-height: 35px;
    text-align: right;
}
.lover-of-animals .continer .paragraphbody{
    position: relative;
}
.lover-of-animals .continer a{
    position: absolute;
    right: 0;
    bottom: 214px;
    background-color: #fcc302;
    padding: 24px 30px;
    border-radius: 8px;
}


/* ..................love of animals the end..............  */


/* ...................sell section start................  */


.get-offer{
    background-color: #fcc302;
}
.get-offer .continer{
    width: 1200px;
    background-color: #fcc302;
    margin: 0 auto;
    position: relative;
    padding-bottom: 106px;
    
}
.get-offer .continer .headingpara{
    text-align: center;
    /* margin-top: 116px; */
}
.get-offer .continer .headingpara h2{
    font-size: 75px;
    font-weight: bold;
    padding-top: 116px;
    padding-bottom: 52px;
}
.get-offer .continer .headingpara p{
    font-size: 34px;
    font-weight: 400;
    padding: 0 200px;
}
.get-offer .continer .cell{
    display: flex;
    justify-content: space-between;
    margin-top: 98px;
    padding: 0 5px;
}
.cell .sellpara{
    width: 30%;
}
.get-offer .continer .cell .sellpara{
    text-align: center;
}
.get-offer .continer .cell p{
    font-size: 41px;
    font-weight: 600;
    color: #fff;
    
}
.taka{
    margin-right: 30px;
}
.get-offer .continer .cell a{
    padding: 10px 40px;
    font-size: 25px;
    font-weight: 600;
    background-color: #00bec9;
    border-radius: 50px;
    display: inline-block;
    margin-top: 24px;
    
}


/* .........................the end....................  */

/* .................vatcare teem start................  */

.vatcare-teem{
    width: 100%;
    /* background-color: rgb(244, 140, 4) */
}
.vatcare-teem .continer{
    width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
    background-color: #ffffff;
    padding-bottom: 44px;
}
.vatcare-teem .continer .heading{
   text-align: center;
   padding-top: 140px;
}
.vatcare-teem .continer .heading h2{
    font-size: 75px;
    font-weight: bold;
    color: #313243;
    /* padding-bottom: 46px; */
   
}
.vatcare-teem .continer .heading p{
    font-size: 34px;
    font-weight: 400;
    color: #313243;
    padding: 0 114px;
    line-height: 36px;
    padding-bottom: 96px;
    padding-top: 46px;
}
.vatcare-teem .continer .doctor-img{
    display: flex;
    justify-content: space-between;
}
.vatcare-teem .continer .doctor-img .doctor{
    width: 30%;
    text-align: center;

}
.vatcare-teem .continer .doctor-img .doctor h2{
    font-size: 30px;
    font-weight: bold;
}
.vatcare-teem .continer .doctor-img .doctor h3{
    font-size: 25px;
    font-weight: 400;
}
.vatcare-teem .continer .fontawesome a{
  
    padding: 0 5px;
    font-size: 20px;
}
.fontawesome .fa-brands{
    padding: 10px 10px;
    background-color: #fcc302;
    border-radius: 50%;
    margin-top: 32px;
}
   


  

  /* .....................the end..................  */


  /* ..........................hospital start...................  */

.hospital{
    width: 100%;
    background-color: red;
}
.hospital .continer{
    width: 100%;
    height: 572px;
    margin: 0 auto;
    padding: 0 100px;
    background-color: yellow;
    background-image: url(./img/background-img.png );
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    position: relative;
    
}
.hospital .continer .happy a{
    font-size: 41px;
    font-weight: 500;
    margin-left: 50px;
}
.hospital .continer .happy h2{
    font-size: 37px;
    font-weight: bold;
    color: #ffffff;
    
}

.hospital .continer .happy1{
    position: absolute;
    left: 160px;
    top: 290px;

}
.hospital .continer .happy2{
    position: absolute;
    left: 630px;
    top: 290px;

}

.hospital .continer .happy3{
    position: absolute;
    right: 200px;
    top: 290px;
}


/* ........................the end.................  */

/* ....................... recent-posts start....................  */


.Recent-Posts{
    width: 100%;
    /* background-color: #ffffff; */
}
.Recent-Posts .continer{
    width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
    background-color:#ffffff;
}
.Recent-Posts .continer .heading{
    text-align: center;
    padding-top: 140px;
}
.Recent-Posts .continer .heading h2{
    font-size: 75px;
    font-weight: bold;
    color: #333445;
    
}
.Recent-Posts .continer .heading p{
    font-size: 34px;
    font-weight: 400;
    color: #333445;
    line-height: 37px;
    padding: 0 114px;
    padding-top: 46px;
}
.Recent-Posts .continer .imgdiv{
    display: flex;
    justify-content: space-between;
    padding-top: 96px;
    padding-bottom: 145px;

}
.Recent-Posts .continer .imgdiv .postimg{
    width: 30%;
}
.Recent-Posts .continer .imgdiv .histroy h2{
    padding: 0 30px;
    font-size: 25px;
    font-weight: 600;
    color: #363647;
    line-height: 27px;
}
.Recent-Posts .continer .imgdiv .histroy h3{
    font-size: 16px;
    font-weight: 400;
    color: #55d4db;
    padding-left: 30px;
    margin-top: 19px;
    margin-bottom: 32px;
    

}
.Recent-Posts .continer .imgdiv .histroy p{
    font-size: 16px;
    font-weight: 400;
    color: #363647;
    padding-left: 30px;
    
}
.Recent-Posts .continer .imgdiv .histroy .para5{
    font-size: 20px;
    font-weight: 500;
    color: #55d4db;
    margin-bottom: 30px;
    margin-top: 32px;
}
.Recent-Posts .continer .imgdiv .histroy1{
    border: 2px solid #bfbebe;
    border-top: none;
}
.Recent-Posts .continer .imgdiv .histroy3{
    border: 2px solid #bfbebe;
    border-top: none;
}


/* .........................the end....................  */

.lestpara{
    width: 100%;
    background-color: #343434;
}
.lestpara .continer{
    width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
    background-color: #343434;
    display: flex;
    justify-content: space-between;
    padding-top: 168px;
    padding-bottom: 120px;
}
.lestpara .continer .content h2{
    font-size: 38px;
    font-weight: 800;
    color: #fff;
}
.lestpara .continer .content h3{
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    padding-bottom: 16px;
}
.lestpara .continer .content1{
    width: 25%;
}
.lestpara .continer .content2{
   width: 20%;
}
.lestpara .continer .content3{
   width: 45%;
   text-align: right;

}
.lestpara .continer .content3 .search2{
    width: 100%;
    height: 90px;
    background-color: #daac00;
    border: 3px solid #daac00;
    
}
.lestpara .continer .content3 h2{
    font-size: 38px;
    font-weight: 800;
    color: #fff;
}
.lestpara .continer .content3 p{
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 54px;
}
.lestpara .continer .content3 .fa-brands{
   
   padding: 15px 15px;
   background-color: #fff;
    border-radius: 50%;
    margin-top: 45px;
   
 
}
.lestpara .continer .content3 .fontawesome-icone a{
    
    padding:0 10px;
    font-size: 20px;
    color: black;
    
   
}
.list-item{
    position: relative;
}
.list-item .rocat{
    width: 144px;
    height: 90px;
    background-color: #00bec9;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.font6{
    font-size: 40px;
    color: #fff;
}








